@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}



/* общие установки */

html, body {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
} */

input[type='number'] {
  appearance: none;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

:active {
  outline: none;
}

:focus-visible {
  border-radius: 4px;
  outline: 3px solid #83b3d3;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  top: -9999px;
}

/* sticky footer */
.page-footer {
  position: sticky;
  top: 100%;
}

/* шапка */
.page-header {
  background-color: #ffffff;
}

.back-to-main {
  width: 138px;
}

.logo {
  display: block;
  margin-bottom: -6px;
}

/* основное меню */
.navigation-container {
  display: flex;
  column-gap: 30px;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1060px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 550px;
}

.navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  padding: 20px 16px;
  color: #000000;
  transition: background-color 250ms ease-in-out;
}

.navigation-link:focus {
  background-color: #fafafa;
}

.navigation-link:hover {
  background-color: #fafafa;
}

.navigation-link-current {
  text-decoration-line: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 23px;
}


/* пользовательское меню */
.navigation-user {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 0 auto;
  /* margin-left: auto; */
  max-width: 320px;
}

.navigation-user-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-user-link {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 64px;
  min-width: 44px;
  /* box-sizing: border-box; */
  /* outline: 1px solid tomato; */

  transition: background-color 250ms ease-in-out;
}

.navigation-user-link:focus {
  background-color: #fafafa;
}

.navigation-user-link:hover {
  background-color: #fafafa;
}

.navigation-search {
  background-image: url("../images/decoration/search.svg");
}

.navigation-favorites {
  text-decoration: none;
  background-image: url("../images/decoration/favorite.svg");
}

.count-block {
  display: block;
  margin: 11px 0 0 20px;
  border-radius: 50%;
  background-color: #7db54f;
  width: 20px;
  height: 20px;
}

.navigation-user-count {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-top: 3px;
  color: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #756257;
  width: 160px;
  min-height: 36px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out, border 250ms ease-in-out;
}

.button:focus {
  background-color: #615048;
  outline: none;
}

.button:hover {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button.disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
}

/* основное содержимое */

/* СТРАНИЦА 1 */

/* приветствие */

.welcome {
  padding: 51px 371px 76px;
  box-sizing: border-box;
  background-image: url("../images/decoration/devider.svg"),
                    url("../images/decoration/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: bottom, center;
  background-color: #1f4157;
  color: #ffffff;
}

/* преимущества */
.advantages {
  background-color: #ffffff;
}

.container-advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px;
  padding: 69px 274px;
  background-color: #ffffff;
}

.description-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: break-word;
}

.city-description {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 25px 0;
  /* margin-bottom: 25px; */
}

.consider-advantages {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: 0;
  word-break: break-word;
}

.advantages-item-width {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: #83b3d3;
}

.advantage-container-width {
  padding: 102px 85px;
  color: #ffffff;
}

.advantages-title-width {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
  /* margin-bottom: 30px; */

  width: 175px;
}

.advantages-title-width:after {
  content: "";
  display: block;
  margin: 30px auto 0 auto;
  /* margin-top: 30px; */
  background-color: rgba(255, 255, 255, 0.3);
  width: 60px;
  height: 2px;
}

.advantages-description-width {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 0;
  width: 230px;
}

.advantages-img {
  /* margin-top: auto; */
  margin-bottom: auto;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex-grow: 1;
  padding: 113px 85px;
  color: #000000;
  /* word-break:keep-all; */
}

.advantages-title-item {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 29px;
  width: 175px;
}

.advantages-title-item:after {
  content: "";
  display: block;
  margin: 30px auto 0 auto;
  /* margin-top: 30px; */
  background-color: rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 2px;
}

.advantages-description-item {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  line-height: 21px;
  margin: 0 auto;
  color: #333333;
  width: 230px;
}

.invitation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 347px;
  word-break: break-word;
}

.invitation-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  /* margin-bottom: 20px; */
  /* width: 505px; */
}

.invitation-description {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  margin: 0;
  color: #333333;
}

.type-comfort {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: 0;
  word-break: break-word;
}

.comfort-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 81px 85px;
}

.item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.item-light2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.comfort {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 102px;
  background-repeat: no-repeat;
  background-position: center top;
  width: 230px;

}

.housing {
  background-image: url("../images/decoration/housing.svg");
}

.food {
  background-image: url("../images/decoration/food.svg");
}

.souvenirs {
  background-image: url("../images/decoration/souvenirs.svg");
}

.comfort-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  /* margin-bottom: 30px; */
}

.comfort-description {
  margin: 0;
  color: #333333;
}

.housing > .comfort-description {
  width: 180px;
}

/* блок поиска гостиницы */

.search-hotel {
  display: flex;
  padding: 96px 304px;
}

.container-search {
  /* width: 592px; */
  word-break: break-word;

  width: 100%;
  min-height: 214px;
}

.search-hotel-interested {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;

  /* margin-top: 0;
  margin-bottom: 20px; */
}

.search-hotel-description {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  margin: 0 0 54px 0;

  /* margin-top: 0;
  margin-bottom: 54px; */
}

.search-hotel-link {
  font-size: 20px;
  line-height: 26px;
  margin: 0  auto;
  width: 376px;
  height: 52px;
}


/* СТРАНИЦА 2 - КАТАЛОГ */

/* фильтры */

.page-inner {
  flex-grow: 1;
  background-color: #ffffff;
}

.filter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 35px 70px 70px;

  background-image: url("../images/decoration/background-filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #83b3d3;
}

.container-filter {
  height: 100%;
}

.filter-header {
  color: #ffffff;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  line-height: 78px;
  margin: 0 0 8px 0;
  /* margin-bottom: 8px; */
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
  list-style: none;
  margin: 0 0 40px 0;
  /* margin-bottom: 40px; */
  padding: 0;
}

.breadcrumbs-item:not(:first-child)::before {
  content: "";
  background: url("../images/decoration/breadcrumbs.svg") no-repeat center;
  background-size: contain;
  margin: 0 10px;

  /* margin-left: 10px;
  margin-right: 10px; */
  /* padding-right: 6px; */
  padding-left: 8px;
  width: 20px;
}

.breadcrumbs-main-page {
  display: flex;
  background-image: url("../images/decoration/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 2px;
  width: 13px;
  height: 15px;
}

.breadcrumbs-catalog {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-catalog:focus {
  color: #ffffff;
  outline: none;
}

.breadcrumbs-catalog:hover {
  color: #ffffff;
  opacity: 60%;
}

.breadcrumbs-catalog:active {
  color: #ffffff;
  opacity: 30%;
}


.hotel-filter {
  display: flex;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
  padding: 0;
  width: 1060px;
}

.criterion-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 32px 0;
  /* margin-bottom: 32px; */
  padding: 0;
}

.control-list {
  list-style: none;
  word-break: break-word;
  margin: 0;
  padding: 0;
}

.control-item {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;

  transition: opacity 250ms ease-in-out;
}

.control-item:last-child {
  margin-bottom: 0;
}

.control-item:hover {
  opacity: 60%;
}


.control-item:active {
  opacity: 30%;
}

.control {
  cursor: pointer;
}

.infrastructure {
  border: none;
  margin: 0 70px 0 0;
  /* margin-right: 70px; */
  padding: 0;
  width: 150px;
}

.control-checkbox {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  vertical-align: top;
  border-radius: 4px;
  margin: 2px 16px 0 0;
  appearance: none;
  accent-color: #ffffff;
  background-image: url("../images/decoration/checked-false.svg");
  width: 20px;
  height: 20px;
}

.control-checkbox:checked {
  background-image: url("../images/decoration/checked-true.svg");
}

.control-checkbox:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -1px;
}

.type-house {
  border: none;
  margin: 0 141px 0 0;
  /* margin-right: 141px; */
  padding: 0;
  width: 150px;
}

.control-radiobutton {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  vertical-align: top;
  border-radius: 50%;
  margin: 1px 16px 0 0;
  appearance: none;
  accent-color: #000000;
  background-image: url("../images/decoration/radio-false.svg");
  width: 20px;
  height: 20px;
}

.control-radiobutton:checked {
  background-image: url("../images/decoration/radio-true.svg");
}

.control-radiobutton:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -1px;
}

.container-form-filter {
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
  width: 549px;
}

.price-hotel {
  width: 288px;
}

.input-price {
  display: flex;
  position: relative;
  margin-bottom: 36px;
}

.control-label-min {
  position: absolute;
  left: 107px;
  top: 13px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.control-label-max {
  position: absolute;
  left: 249px;
  top: 13px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.control-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  vertical-align: middle;
  margin-right: 2px;
  padding: 6px 50px 6px 20px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  width: 73px;
  height: 36px;
}

/* .price-input:last-child {
  margin-right: 0;
}

.price-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.price-input:hover {
  background-color: #e6e6e6;
} */


.control-input:last-child {
  margin-right: 0;
}

.control-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.control-input:hover {
  background-color: #e6e6e6;
}


.radius-left {
  border-radius: 4px 0 0 4px;
}

.radius-right {
  border-radius: 0 4px 4px 0;
}

.range {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  width: 287px;
  height: 20px;
}

.control-button {
  flex-shrink: 0;
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  transform: translateY(-40%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.control-button:focus {
  outline: 3px solid #83b3d3;
}

.control-button:active {
  outline: 2px solid #83b3d3;
}


.maxprice {
  margin-left: auto;
}

.price-min-max {
  display: flex;
  position: relative;
  background-color: #ffffff;
  height: 4px;
}

.price-min-max-fon {
  background-color: #686868;
  width: 100%;
  height: 4px;
}

.button-form {
  margin-left: auto;
}

.select-btn {
  font-size: 16px;
  line-height: 20px;
  border: none;
  margin-bottom: 32px;
  background-color: #83b3d3;
  width: 191px;
  height: 36px;
}

.select-btn:focus {
  background-color: #68a2ca;
}

.select-btn:hover {
  background-color: #68a2ca;
}

.select-btn:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
}

.clear-btn {
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: transparent;
  width: 191px;
  height: 36px;
}

.clear-btn:focus {
  background-color: transparent;
  outline: 2px solid #83b3d3;
}

.clear-btn:hover {
  color: #ffffff;
  background-color: transparent;
  opacity: 60%;
}

.clear-btn:active {
  color: #ffffff;
  background-color: transparent;
  opacity: 30%;
}

.clear-btn:disabled {
  opacity: 10%;
  cursor: default;
}

/* результаты поиска и способ сортировки */
.type-sorted {
  display: flex;
  align-items: center;
}

.search-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 49px 70px 60px;
}

.count-search {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
}

.sorted {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  width: 1060px;
}

.count-search {
  margin: 0;
}

.rating-sorted {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 70px;
  padding-left: 18px;
  background: url("../images/decoration/arrow_select.svg") no-repeat right;
  background-position-x: calc(100% - 18px);
  appearance: none;
  outline: none;
  cursor: pointer;
  width: 292px;
  height: 48px;
}

.rating-sorted:hover,
.rating-sorted:focus {
  border: 2px solid #82b3d3;
}

.rating-sorted:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  background: url("../images/decoration/arrow_select_disabled.svg") no-repeat right;
  background-position-x: calc(100% - 18px);
}

.visible-card-list {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  gap: 8px;

  list-style: none;
  margin: 0;
  padding: 0;
  width: 160px;
}

.card {
  background-image: url("../images/decoration/mode-tile.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slideshow {
  background-image: url("../images/decoration/mode-slideshow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.list {
  background-image: url("../images/decoration/mode-list.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-sorted {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
  margin-right: 8px;
  width: 48px;
  height: 48px;
}

.button-sorted:focus {
  border-color: #83b3d3;
  background-color: #ffffff;
}

.button-sorted:hover {
  border-color: #000000;
  background-color: #ffffff;
}

.button-sorted:active {
  border-color: #000000;
  background-color: #ffffff;
}

.button-sorted:last-child {
  margin-right: 0;
}

.button-selected {
  border-color: #000000;
}


/* карточки найденных гостиниц */

.card-result-hotel {
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  margin-bottom: 38px;
  width: 1060px;
}

.hotel-card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px 20px;
  list-style: none;
  word-break: break-word;
  margin: 0 0 40px 0;
  /* margin-bottom: 40px; */
  padding: 0;
}

.hotel-card-item {
  display: grid;
  grid-template-rows: 2fr 126px;
  column-gap: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
}

.container-hotel-function {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 21px 36px 37px;
  gap: 16px 20px;
}

.hotel-card-link-img {
  text-decoration: none;
}

.preview {
  margin-bottom: 11px;
}

.hotel-name {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  color: #000000;
  margin: 0 0 15px 0;
  /* margin-bottom: 15px; */
}

.hotel {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.min-price {
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 0 auto;
  /* margin-left: auto; */
}

.card-btn-details {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  box-sizing: border-box;
  width: 140px;
  min-height: 36px;
}

.card-btn-favorites {
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #82b3d3;
  width: 140px;
}

.card-btn-favorites:focus {
  background-color: #68a2ca;
}

.card-btn-favorites:hover {
  background-color: #68a2ca;
}

.card-btn-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.card-btn-favorites:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}

.active {
  background-color: #7db54f;
}

.active:focus {
  background-color: #6c9e42;
}

.active:hover {
  background-color: #6c9e42;
}

.active:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.rating-star {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  width: 100%;
}

.star {
  display: flex;
  align-items: center;
  margin: 0;

  width: 140px;
  height: 37px;
}

.star::before {
  content: "";
  display: block;
  background-image: url("../images/decoration/star.svg");
  background-repeat: space no-repeat;
  background-size: contain;
  height: 17px;
}

.star-two::before {
  width: 42px;
}

.star-three::before {
  width: 66px;
}

.star-four::before {
  width: 87px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #f2f2f2;
  margin: 0;
  width: 140px;
}


/* пагинация */

.pagination-block {
  min-height: 60px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 1060px;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  border-radius: 4px;
  padding: 15px 15px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #83b3d3;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  min-width: 60px;
  height: 60px;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.button-null {
  border: none;
  color: #000000;
  background-color: transparent;
}

.pagination-current:focus {
  background-color: #f2f2f2;
}

.pagination-current:hover{
  background-color: #f2f2f2;
}

.pagination-current:active {
  background-color: #f2f2f2;
}

.button-null:focus {
  background-color: #ffffff;
}

.button-null:hover {
  background-color: #ffffff;
}

.button-null:active {
  background-color: #ffffff;
}


/* подвал */

/* подписка */

.page-footer {
  margin: auto;
}

.subscription {
  display: flex;
  padding: 96px 258px 104px;
  background-color: #ffffff;
}

.subscription-background {
  background-image: url("../images/decoration/background-signature.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: #83b3d3;
  color: #ffffff;
  /* object-fit: contain; */
}

.container-subscription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  word-break: break-word;
  width: 684px;
  min-height: 215px;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  /* margin-bottom: 20px; */
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 0;
  padding: 0 75px;
  /* margin-bottom: 54px; */
  min-height: 53px;
}

.input-block {
  display: flex;
  margin: 0;
}

.subscription-email {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
  background-color: #f2f2f2;
  outline: none;
  width: 439px;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #83b3d3;
  width: 245px;
  min-height: 52px;
}

.subscription-button:focus {
  background-color: #68a2ca;
}

.subscription-button:hover {
  background-color: #68a2ca;
}

.subscription-button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}

/* контакты */
.footer-contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 70px 30px 70px;
  background-color: #ffffff;
}

.container-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
}

/* социальные сети */

.social {
  display: flex;
  align-items: center;

  max-width: 200px;
  min-height: 40px;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  min-height: 40px;
}

.social-item {
  display: flex;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.social-link svg {
  fill: #83b3d3
}

.social-link:focus svg {
  fill: #68a2ca;
}

.social-link:hover svg {
  fill: #68a2ca;
}

.social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.social-link.disabled svg {
  fill: #e5e5e5;
  cursor: default;
}

/* номер телефона */
.contacts {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: #000000;

  transition: color 250ms ease-in-out, opacity 250ms ease-in-out;
}

.phone:focus {
  color: #756257;
}

.phone:hover {
  color: #756257;
}

.phone:active {
  color: #756157;
  opacity: 30%;
}

/* ссылка на разработчика */
.link-htmlacademy {
  width: 115px;
  height: 33px;
}

.link-htmlacademy svg {
  fill: #000000;
}

.link-htmlacademy:focus svg {
  fill: #756157;
}

.link-htmlacademy:hover svg {
  fill: #756157;
}

.link-htmlacademy:active svg {
  fill: rgba(117, 97, 87, 0.3);
}



/* окно модальной формы */

.container-modal-form {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.8);
}

.modal-search {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #ffffff;
  /* box-shadow: 0 0 5px 1px #83b3d3; */
  width: 717px;
  /* outline: 1px solid red; */
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;

  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;

  cursor: pointer;
  transition: background-color 250ms ease-in-out;

  width: 52px;
  height: 52px;
}

.modal-close-button:before,
.modal-close-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 31%;
  background-color: #000000;
  width: 18px;
  height: 2px;
}

.modal-close-button:before {
  transform: rotate(45deg);
}

.modal-close-button:after {
  transform: rotate(-45deg);
}

/* .modal-close-button svg {
  display: flex;
  align-items: center;
  margin: 0 auto;
  fill: #000000;
} */

/* .modal-close-button:focus {
  border-radius: 50%;
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
} */



.modal-close-button:focus {
  background-color: #e5e5e5;
}

.modal-close-button:hover {
  background-color: #e5e5e5;
}

.modal-close-button:active {
  background-color: #e5e5e5;
}

.modal-close-button:active::after,
.modal-close-button:active::before {
  background-color: rgba(0, 0, 0, 0.3);
}

/* .modal-close-button:active svg {
  background-color: #e5e5e5;
  opacity: 30%;
  fill: #000000;
} */

.modal-title {
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 64px 0;
  padding: 0;
}

.search-parameters {
  display: grid;
  grid-template-columns: 247px 88px 242px;
  grid-template-rows: 192px repeat(2, 48px) 60px;
}

.time-period {
  display: grid;
  grid-template-columns: 137px 440px;
  grid-template-rows: repeat(4, 48px);

  grid-column: 1/4;
  grid-row: 1/2;

  margin: 0;
  padding: 0;

  border: none;
}

.search-input-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;
}

.search-input-date {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 20px 12px 20px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  background-image: url("../images/decoration/date.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  outline: none;
  width: 440px;
}

.start-date {
  grid-column: 1/3;
  grid-row: 1/2;
}

.date-error {
  grid-column: 2/3;
  grid-row: 2/3;
  color: #ff5757;
}

.end-date {
  grid-column: 1/3;
  grid-row: 3/4;
}

.date-information {
  grid-column: 2/3;
  grid-row: 4/5;

  margin: 0;
  padding: 0;
}

.message {
  margin: 0;
  padding: 4px 0 0 20px;
  font-size: 16px;
  line-height: 21px;
}


.count-human {
  display: grid;
  grid-template-columns: 247px 88px 242px;;
  grid-column: 1/4;
  grid-row: 2/3;

  position: relative;

  margin: 0;
  padding: 0;

  border: none;
}

.search-input-count {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding: 14px 10px;
  box-sizing: border-box;
  border: none;
  color: #000000;
  background-color: #f2f2f2;
  outline: none;
  width: 31px;
}

.count-adults {
  display: flex;
  grid-column: 1/2;
}

.adults {
  margin-right: 46px;
}

.count-child {
  display: flex;
  grid-column: 3/4;
  position: relative;
}


.child {
  margin-right: 82px;
}

.button-count {
  border: none;
  background-color: #f2f2f2;
  outline: none;
  width: 40px;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.plus svg {
  fill: #756157;
  fill-opacity: 0.3;
}

.plus:focus svg {
  fill: #000000;
  fill-opacity: 1.0;
  border-radius: 4px;
  outline: 3px solid #82b3d3;
}

.plus:hover svg {
  fill: #000000;
  fill-opacity: 1.0;
}

.plus:active svg {
  fill: #756157;
  fill-opacity: 0.3;
  outline: none;
}

.minus {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.minus svg {
  fill: #756157;
  fill-opacity: 0.3;
}

.minus:focus svg {
  fill: #000000;
  fill-opacity: 1.0;
  border-radius: 4px;
  outline: 3px solid #82b3d3;
}

.minus:hover svg {
  fill: #000000;
  fill-opacity: 1.0;
}

.minus:active svg {
  fill: #756157;
  fill-opacity: 0.3;
  outline: none;
}

.popup {
  position: absolute;
  right: 157px;
  top: 11px;

  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/decoration/info.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
  width: 26px;
  height: 26px;
}

.popup:focus {
  background-color: #68a2ca;
  outline: none;
  transition: background-color 250ms ease-in-out;
}

.popup:hover {
  background-color: #68a2ca;
  transition: background-color 250ms ease-in-out;
}

.popup:active {
  background-color: #68a2ca;
  transition: background-color 250ms ease-in-out;
}

.container-description {
  position: absolute;
  left: -57px;
  top: 52px;
  margin: 0;
  padding: 21px 18px 18px 23px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #333333;
  width: 256px;
  min-height: 143px;
}

.container-description-close {
  display: none;
}

.description-child {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}

.container-description::before {
  content: "";
  display: block;
  position: absolute;
  left: 120px;
  top: -9px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 10px solid #333333;
  width: 0;
  height: 0;
}


.search-hotel-to-free-date {
  grid-column: 1/4;
  grid-row: 4/5;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  border: none;
  border-radius: 10px;
  padding: 18px 77px;
  color: #ffffff;
  background-color: #83b3d3;

  cursor: pointer;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  width: 577px;
  min-height: 60px;
}

.search-hotel-to-free-date:focus {
  background-color: #68a2ca;
  outline: none;
}

.search-hotel-to-free-date:hover {
  background-color: #68a2ca;
}

.search-hotel-to-free-date:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.modal-close {
  display: none;
}
