@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* sticky footer */
.container {
  height: 100%;
}

.page-footer {
  position: sticky;
  top: 100vh;
}

/* общие установки */

body {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #000000;

  background-color: #f2f2f2;
}

button {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.visually-hidden {
  opacity: 0;
  position: absolute;
  top: -9999px;
}

/* шапка */
.page-header {
  background-color: #ffffff;
}

.back-to-main {
  width: 138px;
  height: 64px;
}

/* основное меню */
.navigation-container {
  display: flex;
  column-gap: 30px;
  margin: 0 auto;
  width: 1060px;
  background-color: #ffffff;
}

.navigation {
  margin: 0;
  padding: 0;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  max-width: 550px;
  padding: 0;
  margin: 0;
}

.navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-link-current {
  text-decoration-line: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 23px;
}


/* пользовательское меню */
.navigation-user {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding-left: 0;
  list-style: none;
  max-width: 320px;
}

.navigation-user-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-user-link {
  display: flex;
  min-height: 64px;
  min-width: 44px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-search {
  background-image: url("../images/decoration/search.svg");
}

.navigation-favorites {
  background-image: url("../images/decoration/favorite.svg");
  text-decoration: none;
}

.count-block {
  display: block;
  width: 20px;
  height: 20px;
  margin: 11px 0 0 20px;
  padding: 0;
  border-radius: 50%;
  background-color: #7db54f;
}

.navigation-user-count {
  display: flex;
  justify-content: center;
  margin-top: 3px;
  font-size: 10px;
  color: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756257;
  width: 160px;
  min-height: 36px;
  border-radius: 4px;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
  outline: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}


/* основное содержимое */

/* СТРАНИЦА 1 */

/* приветствие */
.page-main {
  flex-grow: 1;
}

.welcome {
  background-image: url("../images/decoration/devider.svg"),
                    url("../images/decoration/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: bottom, center;
  background-color: #83b3d3;
  padding: 51px 371px 82px;

  max-height: 485px;
  box-sizing: border-box;
}

/* преимущества */
.advantages {
  background-color: #ffffff;
}

.container-advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 261px;
  background-color: #ffffff;
  margin-bottom: 21px;
}

.description-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 655px;
  min-height: 123px;
}

.city-description {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.consider-advantages {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.advantages-item-width {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: #83b3d3;
}

.advantage-container-width {
  color: #ffffff;
  padding: 102px 85px;
}

.advantages-title-width {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 175px;
}

.advantages-title-width:after {
  content: "";
  display: block;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 60px;
  margin: 0 auto;
  margin-top: 30px;
}

.advantages-description-width {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 0;
  width: 230px;
}

.advantages-img {
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-item {
  flex-grow: 1;
  color: #000000;
  padding: 113px 85px;
}

.advantages-title-item {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 29px;
  width: 175px;
}

.advantages-title-item:after {
  content: "";
  display: block;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 60px;
  margin: 0 auto;
  margin-top: 30px;
}

.advantages-description-item {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #333333;
  line-height: 21px;
  margin: 0 auto;
  width: 230px;
}

.invitation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 246px;
}

.invitation-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  width: 505px;
}

.invitation-description {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.container-comfort {
  display: flex;
  margin: 0;
}

.type-comfort {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.comfort-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 81px 85px;
}

.item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.item-light2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.comfort {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 102px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
}

.housing {
  background-image: url("../images/decoration/housing.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.food {
  background-image: url("../images/decoration/food.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.souvenirs {
  background-image: url("../images/decoration/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.comfort-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.comfort-description {
  color: #333333;
  margin: 0;
}

/* блок поиска гостиницы */

.search-hotel {
  display: flex;
  padding: 96px 304px;
}

.container-search {
  width: 592px;
  min-height: 214px;
}

.search-hotel-interested {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.search-hotel-description {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 54px;
}

.search-hotel-link {
  font-size: 20px;
  line-height: 26px;
  width: 376px;
  height: 52px;
  margin: 0  auto;
}


/* СТРАНИЦА 2 - КАТАЛОГ */

/* фильтры */

.page-inner {
  flex-grow: 1;
  background-color: #ffffff;
}

.filter {
  display: flex;
  justify-content: center;
  flex-direction: column;

  background-image: url("../images/decoration/background-filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #83b3d3;

  padding: 35px 70px 70px;
}

.container-filter {
  height: 100%;
}

.filter-header {
  color: #ffffff;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  line-height: 78px;

  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 40px;
  height: 21px;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  min-height: 20px;
  min-width: 13px;
}

.breadcrumbs-item:not(:first-child)::before {
  content: url("../images/decoration/breadcrumbs.svg");
  padding-right: 10px;
  padding-left: 10px;
  height: 100%;
}

.breadcrumbs-main-page {
  display: flex;
  background-image: url("../images/decoration/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 15px;
  width: 13px;
}

.breadcrumbs-catalog {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-catalog:hover {
  color: #ffffff;
  opacity: 60%;
}

.breadcrumbs-catalog:focus {
  color: #ffffff;
  outline: none;
}

.breadcrumbs-catalog:active {
  color: #ffffff;
  opacity: 30%;
}


.hotel-filter {
  display: flex;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
  padding: 0;
  width: 1060px;
}

.criterion-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 32px;
}

.control-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.control-item {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.control-item:last-child {
  margin-bottom: 0;
}

.infrastructure {
  margin-right: 70px;
  width: 150px;
}

.control-list {
  margin: 0;
}

.checkbox-indicator {
  accent-color: #ffffff;
  margin: 0;
  margin-right: 16px;
  width: 20px;
  height: 20px;
}

.control-checkbox {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
  vertical-align: top;
  margin-top: 2px;
  appearance: none;
  background-image: url("../images/decoration/checked-false.svg");
}

.control-checkbox:checked {
  background-image: url("../images/decoration/checked-true.svg");
}


.type-house {
  width: 150px;
  margin-right: 141px;
}

.radio-indicator {
  accent-color: #000000;
  margin: 1px 16px 0 0;
  width: 20px;
  height: 20px;
}

.control-radiobutton {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
  vertical-align: top;
  appearance: none;
  background-image: url("../images/decoration/radio-false.svg");
}

.control-radiobutton:checked {
  background-image: url("../images/decoration/radio-true.svg");
}

.container-form-filter {
  display: flex;
}

.price-hotel {
  margin-right: 70px;
  width: 288px;
}

.input-price {
  display: flex;
  position: relative;
  margin-bottom: 36px;
}

.control-label-min {
  position: absolute;
  left: 107px;
  top: 13px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.control-label-max {
  position: absolute;
  left: 249px;
  top: 13px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.control-input {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  vertical-align: middle;
  padding: 6px 5px 6px 20px;
  height: 24px;
}

.price-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;

  outline: none;
  border: none;
  background-color: #f2f2f2;
  margin-right: 2px;
  height: 36px;
  width: 118px;
}

.price-input:last-child {
  margin-right: 0;
}

.price-input:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.price-input:hover {
  background-color: #e6e6e6;
}

.radius-left {
  border-radius: 4px 0 0 4px;
}

.radius-right {
  border-radius: 0 4px 4px 0;
}

.range {
  position: relative;
  margin-bottom: 1px;
  height: 20px;
  width: 287px;
}

.control-button {
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

.control-button:focus {
  outline: 3px solid #83b3d3;
}

.control-button:active {
  outline: 2px solid #83b3d3;
}

.minprice {
  position: absolute;
  margin-right: 180px;
  top: 0;
}

.maxprice {
  position: absolute;
  right: 60px;
  top: 0;
}

.price-min-max {
  position: absolute;
  top: 8px;
  left: 10px;
  background-color: #ffffff;
  width: 200px;
  height: 4px;
}

.price-min-max-fon {
  position: absolute;
  top: 8px;
  background-color: rgb(134, 134, 134);
  width: 100%;
  height: 4px;
}

.button-form {
  margin-top: 56px;
}

.select-btn {
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #83b3d3;
  margin-bottom: 32px;
  width: 191px;
  height: 36px;
}

.select-btn:hover {
  background-color: #68a2ca;
}

.select-btn:focus {
  background-color: #68a2ca;
}

.clear-btn {
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  width: 191px;
  height: 36px;
}

.clear-btn:hover {
  color: #ffffff;
  background-color: transparent;
  opacity: 60%;
}

.clear-btn:active {
  color: #ffffff;
  background-color: transparent;
  opacity: 30%;
}

.clear-btn:focus {
  outline: 2px solid #83b3d3;
  background-color: transparent;
}

/* результаты поиска и способ сортировки */
.type-sorted {
  display: flex;
  align-items: center;
}

.search-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 49px 70px 60px;
}

.count-search {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
}

.sorted {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  width: 1060px;
}

.count-search {
  margin: 0;
}

.rating-sorted {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  background: url("../images/decoration/arrow_select.svg") no-repeat right;
  background-position-x: calc(100% - 19px);
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  appearance: none;
  outline: none;
  margin-right: 70px;
  padding-left: 18px;
  width: 292px;
  height: 48px;
}

.rating-sorted:hover {
  border: 2px solid #82b3d3;
}

.rating-sorted:focus {
  border: 2px solid #82b3d3;
}

.visible-card-list {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  gap: 8px 8px;

  list-style: none;
  padding: 0;
  margin: 0;
  width: 160px;
}

.card {
  background-image: url("../images/decoration/mode-tile.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slideshow {
  background-image: url("../images/decoration/mode-slideshow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.list {
  background-image: url("../images/decoration/mode-list.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-sorted {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
  margin-right: 8px;
  width: 48px;
  height: 48px;
}

.button-sorted:hover {
  border-color: #000000;
  background-color: #ffffff;
}

.button-sorted:focus {
  border-color: #83b3d3;
  background-color: #ffffff;
}

.button-sorted:active {
  border-color: #000000;
  background-color: #ffffff;
}

.button-sorted:last-child {
  margin-right: 0;
}

.button-selected {
  border-color: #000000;
}


/* карточки найденных гостиниц */

.card-result-hotel {
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  margin-bottom: 38px;
  width: 1060px;
}

.hotel-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 18px;
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding-left: 0;
}

.hotel-card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px 19px;
}

.hotel-card-link-img {
  text-decoration: none;
}

.preview {
  margin-bottom: 11px;
  width: 100%;
}

.hotel-name {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-bottom: 15px;
}

.price {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 16px;
  width: 100%;
  column-gap: 20px;
}

.hotel {
  width: 140px;
}

.min-price {
  width: 140px;
  text-align: right;
}

.information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-btn-details {
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  min-height: 36px;
  padding: 8px 26px;
  box-sizing: border-box;
}

.card-btn-favorites {
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
  border: none;
  width: 140px;
  min-height: 36px;
}

.card-btn-favorites:hover {
  background-color: #68a2ca;
}

.card-btn-favorites:focus {
  background-color: #68a2ca;
}

.card-btn-favorites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.active {
  background-color: #7db54f;
}

.active:hover {
  background-color: #6c9e42;
}

.active:focus {
  background-color: #6c9e42;
}

.active:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.rating-star {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 20px;
}

.stars {
  display: flex;
  align-items: center;
  margin: 0;

  width: 140px;
  height: 37px;
}

.star {
  background-image: url("../images/decoration/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  margin-right: 6px;

  width: 18px;
  height: 17px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin: 0;
  width: 140px;
}


/* пагинация */

.pagination-block {
  min-height: 60px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 1060px;

  gap: 8px;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  background-color: #83b3d3;
  border-radius: 4px;
  padding: 15px 15px;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}
.pagination-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.button-null {
  border: none;
  background-color: transparent;
  color: #000000;
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  background-color: #f2f2f2;
}

.button-null:hover,
.button-null:focus,
.button-null:active {
  background-color: #ffffff;
}


/* подвал */

/* подписка */

.page-footer {
  margin: auto;
}

.subscription {
  display: flex;
  background-color: #ffffff;
  padding: 96px 258px 104px;
}

.subscription-background {
  background-image: url("../images/decoration/background-signature.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: #83b3d3;
  color: #ffffff;
}

.container-subscription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 684px;
  min-height: 215px;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  min-height: 53px;
}

.input-block {
  display: flex;
  margin: 0;
}

.subscription-email {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
  width: 439px;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #83b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
  width: 245px;
  min-height: 52px;
}

.subscription-button:hover {
  background-color: #68a2ca;
}

.subscription-button:focus {
  background-color: #68a2ca;
}

/* контакты */
.footer-contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  padding: 40px 70px 30px 70px;
}

.container-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
}

/* социальные сети */

.social {
  display: flex;
  align-items: center;

  max-width: 200px;
  min-height: 40px;
  max-height: 80px;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  min-height: 40px;
}

.social-item {
  display: flex;
}

.social-link {
  width: 47px;
  height: 40px;
}

.vkontakte,
.telegram,
.youtube {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vkontakte svg,
.telegram svg,
.youtube svg {
  fill: #83b3d3
}

.vkontakte:hover svg,
.telegram:hover svg,
.youtube:hover svg {
  fill: #68a2ca;
}

.vkontakte:focus svg,
.telegram:focus svg,
.youtube:focus svg {
  fill: #68a2ca;
}

.vkontakte:active svg,
.telegram:active svg,
.youtube:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

/* номер телефона */
.contacts {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.phone:hover {
  color: #756257;
}

.phone:focus {
  color: #756257;
}

.phone:active {
  color: #756157;
  opacity: 30%;
}

/* ссылка на разработчика */
.link-htmlacademy {
  width: 115px;
  height: 33px;
}

.link-htmlacademy svg {
  fill: #000000;
}

.link-htmlacademy:hover svg {
  fill: #756157;
}

.link-htmlacademy:focus svg {
  fill: #756157;
}

.link-htmlacademy:active svg {
  fill: rgba(117, 97, 87, 0.3);
}
